@import "../../../../assets/styles/styles.scss";

.sign-in-form {
  @include responsiveValue(width, 480, 290, 1);
  height: rem(240);
  padding: 0 rem(15);
  border-radius: rem(16);
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host {
  h4 {
    font-size: rem(25.6);
    font-weight: 700;
    letter-spacing: em(3.2, 25.6);

    @media (max-width: $mobileSmall) {
      font-size: rem(23);
    }
  }
}
