$primary-green: #18a558;
$green-light: #a3ebb1;
$green-dark: #116530;
$teal: #21b6a8;
$grey-dark: #555555;
$grey-light: #dddddd;
$nude-color: #f4f3eb;
$nude-color-dark: #f3edc7;
$red: red;
$white: #ffffff;
$black: #000000;
