<div class="completed-order">
  <div class="completed-order__body">
    <div class="completed-order__text-box">
      <h5 class="completed-order__title completed-order__title--primary">
        {{ orderedDish.title }}
      </h5>
      <h6 class="completed-order__title completed-order__title--secondary">
        Стіл № {{ orderedDish.table }}
      </h6>
    </div>
    <span class="completed-order__status"
      >Готово <img src="../../../../assets/images/done.svg" alt="Done"
    /></span>
  </div>
</div>
