.u-span-column-2 {
  grid-column: span 2;
}

.u-padding-0-16 {
  padding: 0 16px;
}

.u-margin-top-10 { //служебные классы ставим только в пиксилях
  margin-top: 10px;
}

.u-margin-top-20 {
  margin-top: 20px;
}